<footer class="ftco-footer ftco-section">
	<div class="container">
		<div class="row">
			<div class="mouse">
				<a href="#" class="mouse-icon">
					<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
				</a>
			</div>

			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Pentru mai multe detalii</h2>
					<div class="block-23 mb-3">
						<ul>
							<li><span class="icon icon-map-marker"></span><span class="text">str.Vasile Alecsandri 104</span></li>
							<li><a href="#"><span class="icon icon-phone"></span><span class="text">+37378452345</span></a></li>
							<li><a href="#"><span class="icon icon-envelope"></span><span class="text">alionacrigan20@gmail.com</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
			</div>
		</div>
	</div>
</footer>

