@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2 style="margin: 30px; ">Sterge utilizator</h2>
    </div>
    <hr />
    <div class="row">
        <div class="col-6">
            @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
            {

                @Html.TextBox("name", "", new
                       {
                           placeholder = "example@gmail.com",
                           title = "Please enter your username",
                           name = "username",
                           value = "",
                           id = "username",
                           @class = "form-control"
                       })
                <div class="text-center" style="margin:15px;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
        <div class="col-6">
            <p>Result>  @ViewBag.Status</p>
        </div>
    </div>
</div>


